*{
    margin: 0;
    padding: 0;
}

#cim{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
}

header{
    padding: 0px 10px 0px 10px;
    border-bottom: 2px solid white;
    color: #EAE0D5;
    background-color: #2C3E50;
}

body{
    background-color: #EAE0D5;
    color: #2C3E50;
}

article{
    text-align: center;

}

#container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
}

.container div{
    border-radius: 6px;
    border: 1px solid #2C3E50;
    padding: 15px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

div img{
    width: 30%;
}

#cim2{
    text-align: center;
    margin-top: 10px;
    border-bottom: #2C3E50 2px solid;
    margin-left: 20px;
    margin-right: 20px;
    color: #2C3E50;
}

.flex-cont{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 20px;
}

.flex-cont #borderless{
    width: 70%;
    text-align: justify;
    border: 0;
    padding-left: 10px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

div{
    color: #2C3E50;
}